<div fxLayoutAlign="center center" fxFlexFill class="main-div">
  <mat-card fxFlex="100%" fxFlexFill>
    <form class="login-form" [formGroup]="loginForm" (ngSubmit)="loginSubmit()">
      <mat-form-field appearance="outline" class="email">
        <mat-label>Email</mat-label>
        <input matInput placeholder="Enter Email" class="formControl" formControlName="email">
        <mat-error *ngIf="loginForm.value.email.invalid">Enter Email</mat-error>
      </mat-form-field>
      <mat-form-field appearance="outline" class="password">
        <mat-label>Password</mat-label>
        <input matInput type="password" placeholder="Enter Password" class="formControl" formControlName="password">
        <!-- <mat-error *ngIf="f['password'].getError('required')!=null">Password is required</mat-error> -->
      </mat-form-field>

      <button mat-flat-button color="primary" class="nextbutton">Login</button>
    </form>
  </mat-card>
</div>