*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Google Sans","Noto Sans Myanmar UI",arial,sans-serif;
}
body{
    margin: 0;
    padding: 0;
    justify-content: space-around;
} 

.card {
  width: 50;
  height: 60vh;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5%;
  margin-top: 5%;
  border-radius: 02%;
  border: 1px solid rgb(230 230 230);
  box-shadow: 1px 1px 1px 1px #f4f4f4;
}
.row {
  height: 33.3vh;
}
.fundoo {
  text-align: center;
  
  font: bold;
  margin-top: 05%;
  font-size: 200%;
}
.f {
  color: blue;
  font-weight: bold;
  
  text-align: center;
}
.u {
  color: red;
  font-weight: bold;
  text-align: center;
}
.n {
  color: yellow;
  font-weight: bold;
  text-align: center;
}
.d {
  color: blue;
  font-weight: bold;
  text-align: center;
}
.o {
  color: green;
  font-weight: bold;
  text-align: center;
}
.oo {
  color: red;
  font-weight: bold;
  text-align: center;
}

#register {
  display: flex;
  justify-content: space-between;
  margin-left: 18%;
  margin-right: 15%;
}
.header {
  text-align: center;
  margin-left: 25%;
  font-size: 180%;
}
.mat-card-title {
  text-align: center;
}
.mat-card-subtitle {
  font-size: 90%;
  text-align: center;
  font-family: sans-serif;
}

.email {
  width: 100%;
}

.sign {
  font-weight: 100;
  margin-left: 0%;
  font-family: sans-serif;
}

.email {
  width: 80%;
  align-content: center;
  // margin-left: 40px
}
.password {
  width: 80%;
  align-content: center;
  // margin-left: 40px
}

.link {
  color: blue;
  margin-left: -18%;
}
.pass-link {
    color: blue;
    margin-left: 0;
    margin-right: 220px;
}
#sigi-button {
  background-color: #1a73e8;
  font-family: "Gill Sans";
  // width: 30%;
  margin-right: -6%;
}
#forget {
  color: green;
}