*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Google Sans","Noto Sans Myanmar UI",arial,sans-serif;
}
body{
    margin: 0;
    padding: 0;
    justify-content: space-around;
} 
 
 .container{
    display: flex;
    flex-direction: row;
    margin-top: 30px;
    margin-left: 400px;
    margin-right: 500px;
    margin-bottom: 0px;
    padding-bottom: 0;
    width: 800px;
    height: 80vh;
    border-radius: 10px;
    border: 1px solid rgb(230 230 230);
    box-shadow: 1px 1px 1px 1px #f4f4f4;
 }
 .mat-card-header{
     width: 200px;
     height: 200px;
     font-size: 30px;
 }
 .mat-card-header-text{
     padding-top: 0px;
     padding-left: 35px;
 }
 .mat-card-title
 {
     padding: 5px;
     span{
         padding: 2px;
     }
 }
 .register-text{
     font-size: 20px;
     padding-left: 35px;
 }

 .container-class{
     display: flex;
     flex-direction: column;
     width: 50%;
 }
 .name-field
 {
     display: flex;
     flex-direction: row;
     gap: 5px;
     padding-left: 35px;
 }
 .email-field {
     display: flex;
     flex-direction: row;
     padding-left: 35px;
     width: 410px;
     mat-form-field{
         width: 100%;
     }
   }
.emailhint
{
    font-size: 14px;
    
}
.mat-card-actions{
    padding-top: 10px;
}
.usemycurrentemail
{
    width: 400px;
    font-size: 16px;
    margin-top: 20px;
    padding-left: 0px;
    
}
.usemycurrentemail a:hover
{
    background-color: #c6c6ff6e;
    color: rgb(0, 0, 143);
}
a{
    text-decoration: none;
    color: blue!important;
}

.password-field
{
    display: flex;
    flex-direction: row;
    gap: 5px;
    padding-left: 35px;
    margin-top: 35px;
}

.passwordhint{
    font-size: 10px;
    
}

.example-section {
    margin: 12px 0;
    padding-left: 35px;
    margin-top: 30px;
  }
  
  .example-margin {
    margin: 0 12px;
  }
  
  .example-margin ul {
    list-style-type: none;
    margin-top: 4px;
  }
  
  .signininstead{
    font-weight: 500;
  }

  .mat-card-actions{
    display: flex;
    justify-content: space-between;
    margin-left: 13px;
    margin-right: 13px;
    padding-left: 35px;
  
  }
  .mat-raised-button{
    background-color: #1a73e8;
    color: white;
    padding-left:20px;
    padding-right: 20px;
    margin-right: 20px;
  }
  .sideimage{
    width: 300px;
    height: 300px;
    margin-top: 150px;
  }

  .logohint{
    padding-left: 30px;
  }


  @media screen and (min-width:220px)and (max-width:599px)
  {
    .container{
        display: flex;
        flex-direction: column;
        margin-top: 50px;
        margin-left: 10px;
        margin-right: 10px;
        width: 100%;
        height: auto;
        border-radius: 10px;
        border: 1px solid rgb(230 230 230);
        box-shadow: 1px 1px 1px 1px #f4f4f4;
     }
     .mat-form-field-subscript-wrapper
     {
        padding: 4px;
     }

     .password-field
    {
        display: flex;
        flex-direction: column;
        padding-left: 35px;
        margin-top: 0px;
        width: 100%;
    }
    .usemycurrentemail
{
    width:400px;
    font-size: 16px;
    margin-top: 10px;
    margin-left: -10px!important;
    padding-left: -10px!important;
    
}
.email-field {
    display: flex;
    justify-content: center;
    padding-left: 35px;
    width: 100%;
  }

  .mat-raised-button{
    background-color: #1a73e8;
    color: white;
    padding-left: 0;
    padding-right: 0px;
    margin-left: 125px;
    margin-bottom: 15px;
  }
  .mat-card-actions{
    display: flex;
    justify-content:center;
    margin-left: 13px;
    margin-right: 13px;
    padding-left: 35px;
  
  }
  }